<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="jun1_Max_Salon1Entities" connectionString="metadata=res://*/DBA.SalonModel.csdl|res://*/DBA.SalonModel.ssdl|res://*/DBA.SalonModel.msl;provider=System.Data.SqlClient;provider connection string='data source=46.42.17.183;initial catalog=jun1_Max_Salon1;persist security info=True;user id=jun01;password=&quot;=)*l%T@R(2WI&quot;;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>